.titulo h1 {
    letter-spacing: 10px;
}

table {
    border-collapse: collapse;
}


td {
    border: 10px solid black;
    border-style: groove;
}

body {
    background-color: rgb(239, 255, 94);
}

input {
    width: 100px;
    height: 100px;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    border: none;
    background-color: transparent;
}

input[type="text"][disabled] {
    color: black;
}

.titulo {
    text-align: center;
    font-size: 30px;
    padding-top: px;
}

.center {

    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.linha4 {
    border-radius: 10px;
    position: absolute;
    right: 280px;
    top: 16px;
    background-color: black;
    width: 9px;
    height: 300px;
    display: none;
}

.linha5 {
    border-radius: 10px;
    position: absolute;
    right: 164px;
    top: 16px;
    background-color: black;
    width: 9px;
    height: 300px;
    display: none;
}

.linha6 {
    border-radius: 10px;
    position: absolute;
    right: 48px;
    top: 16px;
    background-color: black;
    width: 9px;
    height: 300px;
    display: none;
}

.linha1 {
    border-radius: 10px;
    position: absolute;
    right: 18px;
    top: 47px;
    background-color: black;
    width: 300px;
    height: 9px;
    display: none;
}

.linha2 {
    border-radius: 10px;
    position: absolute;
    right: 18px;
    top: 159px;
    background-color: black;
    width: 300px;
    height: 9px;
    display: none;
}

.linha3 {
    border-radius: 10px;
    position: absolute;
    right: 18px;
    top: 273px;
    background-color: black;
    width: 300px;
    height: 9px;
    display: none;
}

.linha7 {
    border-radius: 10px;
    position: absolute;
    right: 160px;
    top: 19px;
    background-color: black;
    width: 13px;
    height: 295px;
    transform: skew(45deg);
    display: none;
}

.linha8 {
    border-radius: 10px;
    position: absolute;
    right: 155px;
    top: 10px;
    background-color: black;
    width: 13px;
    height: 295px;
    transform: skew(-45deg);
    display: none;
}