.titulo h1 {
    letter-spacing: 10px;
}

table {
    border-collapse: collapse;
}


td {
    border: 10px solid black;
    border-style: groove;
}

body {
    background-color: rgb(239, 255, 94);
}

input {
    width: 75px;
    height: 75px;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    border: none;
    background-color: transparent;
    
}
input:hover{
    cursor: pointer;
}

input[type="text"][disabled] {
    color: black;
}

.titulo {
    text-align: center;
    font-size: 25px;
    padding-top: px;
}

.center {

    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.linha4 {
    border-radius: 10px;
    position: absolute;
    right: 219px;
    top: 9px;
    background-color: black;
    width: 9px;
    height: 240px;
    display: none;
}

.linha5 {
    border-radius: 10px;
    position: absolute;
    right: 128px;
    top: 9px;
    background-color: black;
    width: 9px;
    height: 240px;
    display: none;
}

.linha6 {
    border-radius: 10px;
    position: absolute;
    right: 37px;
    top: 9px;
    background-color: black;
    width: 9px;
    height: 240px;
    display: none;
}

.linha1 {
    border-radius: 10px;
    position: absolute;
    right: 13px;
    top: 33px;
    background-color: black;
    width: 240px;
    height: 9px;
    display: none;
}

.linha2 {
    border-radius: 10px;
    position: absolute;
    right: 13px;
    top: 124px;
    background-color: black;
    width: 240px;
    height: 9px;
    display: none;
}

.linha3 {
    border-radius: 10px;
    position: absolute;
    right: 13px;
    top: 211px;
    background-color: black;
    width: 240px;
    height: 9px;
    display: none;
}

.linha7 {
    border-radius: 10px;
    position: absolute;
    right: 125px;
    top: 15px;
    background-color: black;
    width: 13px;
    height: 225px;
    transform: skew(45deg);
    display: none;
}

.linha8 {
    border-radius: 10px;
    position: absolute;
    right: 125px;
    top: 15px;
    background-color: black;
    width: 13px;
    height: 225px;
    transform: skew(-45deg);
    display: none;
}